/******************************************************************************* 
*** COLORS *** 
*******************************************************************************/

// Palette

/*
EXAMPLE:
$palette-text-primary: #878787;
$palette-text-secondary: #000000;
$palette-text-light: #ffffff;
$palette-brand-primary: #14f283;
$palette-attention-primary: #c4ffe4; 
$palette-attention-secondary: #83ffd8;
$palette-decoration-primary: #d79e4e;
$palette-contrast-primary: #031d2f;
*/